/*
 *= require_self
 *= require_tree .
 */
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

header {
	width: 100%;
}

h1 {
	font-size: 2.0rem;
}

.contents {
  padding-top: 70px;

}

.content_inner {
	padding: 40px;
	height: 100px;
}

footer {
	padding-bottom: 10px;
	padding-left: 10px;
}

nav {
	list-style: none;
	overflow: hidden;
}

nav li{
	width: 140px;
  text-align: center;
  background-color: rgb(161, 159, 159);
  float: left;
  height: 50px;
  line-height: 50px;
  margin-right: 5px;
}