.content_inner
  %h1 メンバー募集一覧
  %p 共に走るメンバーを探そう
  .new_post
    = link_to(new_post_path, class: 'button-container') do
      %button.btn.btn-outline-secondary.mx-auto.d-block 募集する
  .row.mb-2
    .col-md-4
      %column-listing
        - @posts.each do |post|
          .card.flex-md-row.mb-4.box-shadow.h-md-250
            .card-body
              %h5.card-titler= post.title
              %p.card-text= post.body
              %p.created_at= post.created_at
              %a.card-link{:href => "#"} 詳細
              %a.card-link{:href => "#"} 編集
              %a.card-link{:href => "#"} 削除